@model EmployeeDetailsApp.Models.Teacher

@{
    ViewBag.Title = "GetTeachers";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditTeachers", new { id = Model.EmpId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
