@model IEnumerable<EmployeeDetailsApp.Models.Teacher>

@{
    ViewBag.Title = "tblTeachers List";
}

<center><h2>List of tblTeachers</h2></center>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .search-container {
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }
</style>
<p>
    @Html.ActionLink("Add Teacher", "AddtblTeachers")
</p>
<div class="search-container">
    <input type="text" id="searchInput" placeholder="Search..." />
</div>
<table id="dataTable" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Age)*@
                Age
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.EmailId)*@
                Email ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.JoiningDate)*@
                Joining Date
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.profileImage)*@
                Image
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.resume)*@
                Resume
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>@item.EmpId</td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Name)*@
                @item.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.profileImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.resume)
                </td>*@

            <td>
                @if (!string.IsNullOrEmpty(item.profileImage))
                {
                    <img src="@Url.Content(item.profileImage)" alt="Profile Image" style="width:50px; height:50px;" />
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.resume))
                {
                    <a href="@Url.Content(item.resume)" target="_blank">Download Resume</a>
                }
            </td>
            <td style="width: 20%">
                @Html.ActionLink("Edit", "EdittblTeachers", new { id = item.EmpId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("View", "GettblTeachers", new { id = item.EmpId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmpId }, new { @class = "btn btn-danger" })
            </td>
        </tr>

    </tbody>
    }

</table>



    <script>
    $(document).ready(function () {
        // Search functionality
        $('#searchInput').on('keyup', function () {
            var searchTerm = $(this).val().toLowerCase(); //ABHDCcsdg
            $('#dataTable tbody tr').each(function () {
                var rowText = $(this).text().toLowerCase();
                if (rowText.indexOf(searchTerm) === -1) {
                    $(this).hide(); // Hide row if search term doesn't match
                } else {
                    $(this).show(); // Show row if search term matches
                }
            });
        });
    });
</script>
    
